/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * FlipFreighters implementation : © joesimpson <1324811+joesimpson@users.noreply.github.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * flipfreighters.css
 *
 * FlipFreighters stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (flipfreighters_flipfreighters.tpl), and to HTML elements you create dynamically
    (in flipfreighters.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

/**
    PREFIX FOR THIS GAME PROJECT : "ffg"
*/

:root {
  --ffg_card_display_width: 120px;
  --ffg_card_display_height: 180px;
  
  --ffg_board_display_width: 1400px;
  --ffg_board_display_height: 1080px;
  
    /* TODO JSA LATER : add a slider */
  --ffg_board_display_scale: 0.5;
  
  --ffg_container_width: 42px;
}

#ffg_game_zone{
    text-align: center;
    display: flex;
    flex-flow: row;
}

/* 
---------------------------- ----------------------------   ---------------------------- 
----------------------------  LEFT ZONE  : CARDS            ---------------------------- 
---------------------------- ----------------------------   ---------------------------- 
*/

#ffg_cards{
    position: relative;
}

.ffg_card{
    background-image: url('img/FULLREZ_CARDS.jpg');
    background-size: 700% 400%;
    width: var(--ffg_card_display_width);
    height: var(--ffg_card_display_height);
    margin: 10px;
    outline: 2px solid black;
    border-radius: 5%;
}

.ffg_card.ffg_selected{
    outline: 5px dashed blue;
}
.ffg_card.ffg_selectable:hover {
    scale: 1.15;
}

.ffg_card[data_value='2']{
    background-position-x: 000%;
}
.ffg_card[data_value='3']{
    background-position-x: -100%;
}
.ffg_card[data_value='4']{
    background-position-x: -200%;
}
.ffg_card[data_value='5']{
    background-position-x: -300%;
}
.ffg_card[data_value='6']{
    background-position-x: -400%;
}
.ffg_card[data_value='1']{ /** ACE */
    background-position-x: -500%;
}
.ffg_card[data_value='15']{ /** JOKER */
    background-position-x: -600% !important;
    background-position-y: -100% !important;
}
.ffg_card_back{ 
    /** BACK of flipped card */
    background-position-x: -600% !important;
    background-position-y: 000% !important;
}

.ffg_card[data_suit='1']{/** SPADE */
    background-position-y: 000%;
}
.ffg_card[data_suit='2']{/** HEART */
    background-position-y: -100%;
}
.ffg_card[data_suit='3']{/** CLUB */
    background-position-y: -200%;
}
.ffg_card[data_suit='4']{/** DIAMOND */
    background-position-y: -300%;
}

/* 
---------------------------- ----------------------------   ---------------------------- 
----------------------------  CENTRAL ZONE  : BOARD         ---------------------------- 
---------------------------- ----------------------------   ---------------------------- 
*/

.ffg_board{
    background-image: url('img/board.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: var(--ffg_board_display_width);
    height: var(--ffg_board_display_height);
}

#ffg_board_current_player{
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}
#ffg_board_current_player_container{
    transform: scale(var(--ffg_board_display_scale));
    transform-origin: top left;
    width: calc(var(--ffg_board_display_width) * var(--ffg_board_display_scale)  );
    height: calc(var(--ffg_board_display_height) * var(--ffg_board_display_scale)  );
}



.ffg_container{
    width: var(--ffg_container_width);
    height: var(--ffg_container_width);
    outline: 2px solid blue;/* TODO JSA remove AFTER TESTS */
    position: absolute;
    z-index: 1;
}

.ffg_container.ffg_selectable{
    outline: 4px dashed red;
    background-color: #0800ff29;
    cursor: pointer;
}
.ffg_container.ffg_selectable:hover {
  scale: 1.2;
  outline-style: solid;
  outline-color: yellow;
  z-index: 2;
}

/** truck1 is the truck "!=" on the top right, containers are valued from LEFT to RIGHT, TOP TO BOTTOM  */
.ffg_container[data_id='truck1_0']{
    left: 800px;
    top: 100px;
}
.ffg_container[data_id='truck1_1']{
    left: 848px;
    top: 100px;
}
.ffg_container[data_id='truck1_2']{
    left: 800px;
    top: 148px;
}
.ffg_container[data_id='truck1_3']{
    left: 848px;
    top: 148px;
}
/** truck2 is the truck "=" on the top, containers are valued from LEFT to RIGHT, TOP TO BOTTOM */
.ffg_container[data_id='truck2_0']{
    left: 458px;
    top: 61px;
}
.ffg_container[data_id='truck2_1']{
    left: 505px;
    top: 61px;
}
.ffg_container[data_id='truck2_2']{
    left: 458px;
    top: 110px;
}
.ffg_container[data_id='truck2_3']{
    left: 505px;
    top: 110px;
}

/** truck3 is the truck "6-1" on the left, containers are valued from LEFT to RIGHT */
.ffg_container[data_truck='truck3']{
    top: 162px;
}
.ffg_container[data_id='truck3_0']{
    left: 38px;
}
.ffg_container[data_id='truck3_1']{
    left: 85px;
}
.ffg_container[data_id='truck3_2']{
    left: 132px;
}
.ffg_container[data_id='truck3_3']{
    left: 179px;
}
.ffg_container[data_id='truck3_4']{
    left: 226px;
}
.ffg_container[data_id='truck3_5']{
    left: 273px;
}

/** TODO JSA FILL WITH other trucks*/