/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * FlipFreighters implementation : © joesimpson <1324811+joesimpson@users.noreply.github.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * flipfreighters.css
 *
 * FlipFreighters stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (flipfreighters_flipfreighters.tpl), and to HTML elements you create dynamically
    (in flipfreighters.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

/**
    PREFIX FOR THIS GAME PROJECT : "ffg"
*/

:root {
  --ffg_card_display_width: 120px;
  --ffg_card_display_height: 180px;
  
  --ffg_board_display_img_width: 2112px;
  --ffg_board_display_width: 1400px;
  --ffg_board_display_height: 1080px;
  
  --ffg_board_display_scale: 0.6;
  
  --ffg_container_width: 42px;
  
  --ffg_truck_position_small_size: 31px;
  --ffg_truck_position_medium_size: 43px;
}

.ffg_no_display{
    display: none;
}

#ffg_game_zone{
    text-align: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.ffg_theme_dark #overall-content
{
    /** overall-content is the BGA page  */
    background: #000000bf;
}
.ffg_theme_dark .standard_popin_underlay {
    background: black;
}

/* 
---------------------------- ----------------------------   ---------------------------- 
----------------------------  UPPER ZONE ...                ---------------------------- 
---------------------------- ----------------------------   ---------------------------- 
*/
#ffg_game_upper{
    text-align:center;
    font-size: 25px;
}
.ffg_theme_dark #ffg_game_upper{
    color: white;
}
#ffg_round_label, #ffg_playerBoardSliderSize{
    margin: 0 10px;
}
/*
---------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------- 
---------------------------- BGA - PLAYER PANEL                         ---------------
---------------------------------------------------------------------------------------
*/

.ffg_theme_dark .player-board{
    /** Keep the framework background-color, but add alpha (opacity 50%)*/
    background-color: #ebd5bd7d;
    /*color: white;*/
}
/** Add a WHITE shadow behind player name in case of dark colors like red/blue*/
.ffg_theme_dark .player_board_inner>.player-name>a:first-child{
    text-shadow: 1px 1px 5px white;
}
/** Add a BLACK shadow behind player name in case of bright colors like white/orange*/
.ffg_theme_dark .player_board_inner>.player-name>a[style='color: #ffa500'],
.ffg_theme_dark .player_board_inner>.player-name>a[style='color: #ffffff'],
.ffg_theme_dark .player_board_inner>.player-name>a[style='color: #72c3b1'],
.ffg_theme_dark .player_board_inner>.player-name>a[style='color: #f07f16'],
.ffg_theme_dark .player_board_inner>.player-name>a[style='color: #bdd002'],
.ffg_theme_standard .player_board_inner>.player-name>a[style='color: #ffa500'],
.ffg_theme_standard .player_board_inner>.player-name>a[style='color: #ffffff'],
.ffg_theme_standard .player_board_inner>.player-name>a[style='color: #bdd002']
{
    text-shadow: 1px 1px 5px black;
}

.ffg_player_panel_details{
    text-align: center;
    cursor: default;
}


.ffg_overtime_wrapper,
.ffg_delivered_trucks_wrapper,
.ffg_show_board,
.ffg_show_score {
   padding: 5px;
   display: inline-block;
}
.ffg_player_panel_counter, 
.ffg_icon_overtime,
.ffg_icon_delivered_trucks, 
.ffg_icon_show_board,
.ffg_icon_show_score{
    font-size: 1.5em;
    padding-left: 5px;
    vertical-align: middle;
    text-align: center;
}
.ffg_icon_show_board,
.ffg_icon_show_score {
    cursor: pointer;
}
.ffg_icon_show_score .fa-star {
    top: 5px;
}

/* 
---------------------------- ----------------------------   ---------------------------- 
----------------------------  SHOW BOARD DIALOG             ---------------------------- 
---------------------------- ----------------------------   ---------------------------- 
*/
#popin_showBoardDialogId_title {
    padding: 3px 90px;
    text-align: center;
}

#modal_ffg_all_players_board_wrap .ffg_board_container:not(.ffg_selectedPlayerId) {
    display: none;
}

#popin_showBoardDialogId .ffg_player_board_container{
    /** gain space between title and arrows line, by moving all up like if the arrows were on the title line */
    margin-top: -39px;
}

.ffg_slideshow_line{
    display: flex;
}
.ffg_slideshow_left, .ffg_slideshow_right{
    font-size: 1.5em;
    text-align: center;
    flex-basis: 50%;
}
.ffg_slideshow_line .fa-arrow-left, .ffg_slideshow_line .fa-arrow-right{
    cursor: pointer;
}

/* 
---------------------------- ----------------------------   ---------------------------- 
----------------------------  SHOW SCORE DIALOG             ---------------------------- 
---------------------------- ----------------------------   ---------------------------- 
*/
.standard_popin{
    background-image: linear-gradient(#fde391, rgb(231, 233, 232));
}
#popin_showScoreDialogId {
    border: 5px solid #6c2c12;
}
#popin_showBoardDialogId_title {
    padding: 3px 90px;
    text-align: center;
}
#ffg_showScoreDialogContent table th {
    border-right: 1px solid rgba(0,0,0,.2);
    height: 70px;
    min-width: 70px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}
#ffg_showScoreDialogContent table th>div{
    display: inline-block;
}
#ffg_overview_week1 div,
#ffg_overview_week2 div,
#ffg_overview_week3 div{
    background-image: url('img/board.jpg');
    background-position-y: -653px;
    background-position-x: -25px;
    width: 66px;
    height: 67px;
    background-size: 2000%;
}

#ffg_overview_week2 div{
    background-position-y: -731px;
}

#ffg_overview_week3 div{
    background-position-y: -809px;
}
#ffg_showScoreDialogContent table tbody tr td{
    word-wrap: anywhere;
    border-right: 1px solid rgba(0,0,0,.2);
    font-family: Caveat;
    font-size: x-large;
    padding: 5px 8px;
    text-align: center;
    vertical-align: middle;
}
#ffg_showScoreDialogContent table tbody tr:nth-of-type(odd) {
    background-color: lightgray;
}
#ffg_showScoreDialogContent table tbody tr.ffg_highlight{
    outline: 3px solid #6c2c12;
    /** tested to be visible for "achromatopsia color blindness" */
    background-color: #ffc200;
}
/* 
---------------------------- ----------------------------   ---------------------------- 
----------------------------  LEFT ZONE  : CARDS            ---------------------------- 
---------------------------- ----------------------------   ---------------------------- 
*/

#ffg_cards{
    position: relative;
    align-self: flex-start;
}

.ffg_card{
    background-image: url('img/FULLREZ_CARDS.jpg');
    background-size: 700% 400%;
    width: var(--ffg_card_display_width);
    height: var(--ffg_card_display_height);
    margin: 10px;
    outline: 2px solid black;
    border-radius: 5%;
}

.ffg_card.ffg_selected{
    outline: 5px dashed blue;
}
.ffg_card.ffg_selectable{
    cursor: pointer;
}
.ffg_card:not(.ffg_selectable){
    opacity: 0.5 !important;
    cursor: default;
}
.ffg_card.ffg_selectable:hover {
    scale: 1.15;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ffg_card[data_value='2']{
    background-position-x: 000%;
}
.ffg_card[data_value='3']{
    background-position-x: -100%;
}
.ffg_card[data_value='4']{
    background-position-x: -200%;
}
.ffg_card[data_value='5']{
    background-position-x: -300%;
}
.ffg_card[data_value='6']{
    background-position-x: -400%;
}
.ffg_card[data_value='1']{ /** ACE */
    background-position-x: -500%;
}
.ffg_card[data_suit='5']{ /** JOKER */
    background-position-x: -600% !important;
    background-position-y: -100% !important;
}
.ffg_card[data_id='0'],
.ffg_card_back { 
    /** BACK of flipped card */
    background-position-x: -600% !important;
    background-position-y: 000% !important;
}

.ffg_card[data_suit='1']{/** SPADE */
    background-position-y: 000%;
}
.ffg_card[data_suit='2']{/** HEART */
    background-position-y: -100%;
}
.ffg_card[data_suit='3']{/** CLUB */
    background-position-y: -200%;
}
.ffg_card[data_suit='4']{/** DIAMOND */
    background-position-y: -300%;
}

.ffg_card_wrapper{
    display: flex;
    flex-flow: column;
}
.ffg_card_wrapper:not(.ffg_selected) .bgabutton{
    display: none;
}
.ffg_card_buttons_wrapper{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.ffg_button_card_suit_modifier {
    background-image: url('img/FULLREZ_CARDS.jpg');
    background-size: 1000px;
    background-position-x: -56px;
    width: 6px;
    height: 25px;
}
.ffg_button_card_suit_modifier_1 {
    background-position-y: -17px;
}
.ffg_button_card_suit_modifier_2 {
    background-position-y: -212px;
}
.ffg_button_card_suit_modifier_3 {
    background-position-y: -410px;
}
.ffg_button_card_suit_modifier_4 {
    background-position-y: -605px;
}
.ffg_button_card_suit_modifier.ffg_selectable:hover {
    scale: 1.15;
    cursor: pointer;
    outline: 2px solid blue;
}

.ffg_button_card_suit_reset{
    outline: 4px solid black;
}


.ffg_card_wrapper:not(.ffg_selected) .ffg_card_usage_wrapper{
    display: none;
}
.ffg_card_usage_wrapper{
    font-size: 15px;
}
.ffg_card_usage{
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
}

.ffg_animation_copy{
    z-index: 2;
}
/* 
---------------------------- ----------------------------   ---------------------------- 
----------------------------  CENTRAL ZONE  : BOARD         ---------------------------- 
---------------------------- ----------------------------   ---------------------------- 
*/

.ffg_board{
    background-image: url('img/board.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: var(--ffg_board_display_width);
    height: var(--ffg_board_display_height);
    outline: 10px solid black;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}
.ffg_board_container{
    transform: scale(var(--ffg_board_display_scale));
    transform-origin: top left;
    width: calc(var(--ffg_board_display_width) * var(--ffg_board_display_scale)  );
    height: calc(var(--ffg_board_display_height) * var(--ffg_board_display_scale)  );
    margin-top: 20px;
}

/** USER PREF */
.ffg_display_all_no #ffg_all_players_board_wrap .ffg_other_player{
    display: none;
}

#ffg_all_players_board_wrap{
    align-self: flex-start;
}

/** Board Player NAMES*/
.ffg_board_title { display:block; }
.ffg_board_title h1{ 
    text-align:center; 
    position:relative;
    /** Move the title to place it on the top border */
    top: -15px;
}
.ffg_board_title h1 span{
    text-shadow: 1px 1px 1px black;
    border-radius: 20px;
    outline: 3px solid black;
    padding: 5px 15px;
    background-color: white;
    cursor: default;
}
.ffg_board_title h1 span[style*='color:#ffffff']
{
    background-color: gray;
}
.ffg_player_avatar{
    width: 32px;
    height: 32px;
    border-radius: 25px;
    overflow: hidden;
    vertical-align: top;
    margin-right: 10px;
}


.ffg_container{
    width: var(--ffg_container_width);
    height: var(--ffg_container_width);
    position: absolute;
    z-index: 1;
}

.ffg_container.ffg_selectable,
.ffg_cargo_amount.ffg_selectable{
    outline: 4px solid blue;
    background-color: #0800ff29;
    cursor: pointer;
}
.ffg_container.ffg_selectable:hover,
.ffg_cargo_amount.ffg_selectable:hover {
    scale: 1.2;
    outline-style: solid;
    outline-color: yellow;
    z-index: 2;
}
.ffg_cargo_amount.ffg_selectable:hover {
    outline-color: red;
}
.ffg_container[data_state="1"]{
    /**  STATE_LOAD_TO_CONFIRM */
    outline: 4px dashed red;
    background-color: #ff000073;
}

.ffg_container.ffg_cargo_to_fill{
    outline: 10px solid yellow;
    z-index: 3;
}

#ffg_cargo_amount_list{
    position: absolute;
    z-index: 4;
    display: flex;
    flex-flow: row;
    margin-top: calc(var(--ffg_container_width) + 10px);
    background-color: white;
    border-radius: 15%;
    outline: 2px solid black;
}
.ffg_cargo_amount, #ffg_arrow, #ffg_cargo_amount_loading{
    width: var(--ffg_container_width);
    height: var(--ffg_container_width);
    outline: 4px dotted black;
    margin-right: 10px;
}
.ffg_cargo_amount:not(.ffg_selectable) .ffg_container_number{
    visibility: hidden;
}
#ffg_arrow, #ffg_cargo_amount_loading, #ffg_close_amount_list{
    outline: none;
    font-size: var(--ffg_container_width);
}
#ffg_close_amount_list{
    cursor: pointer;
}
/* 
---------------------------- ----------------------------   ---------------------------- 
---------------------------- LIST OF ALL 42 Truck CARGOS    ---------------------------- 
---------------------------- ----------------------------   ---------------------------- 
*/
/* ---------------------------- ----------------------------   ---------------------------- */
/** truck1 is the truck "!=" on the top right, containers are valued from LEFT to RIGHT, TOP TO BOTTOM  */
.ffg_container[data_id='truck1_0']{
    left: 800px;
    top: 100px;
}
.ffg_container[data_id='truck1_1']{
    left: 848px;
    top: 100px;
}
.ffg_container[data_id='truck1_2']{
    left: 800px;
    top: 148px;
}
.ffg_container[data_id='truck1_3']{
    left: 848px;
    top: 148px;
}
/* ---------------------------- ----------------------------   ---------------------------- */
/** truck2 is the truck "=" on the top, containers are valued from LEFT to RIGHT, TOP TO BOTTOM */
.ffg_container[data_id='truck2_0']{
    left: 458px;
    top: 61px;
}
.ffg_container[data_id='truck2_1']{
    left: 505px;
    top: 61px;
}
.ffg_container[data_id='truck2_2']{
    left: 458px;
    top: 110px;
}
.ffg_container[data_id='truck2_3']{
    left: 505px;
    top: 110px;
}
/* ---------------------------- ----------------------------   ---------------------------- */
/** truck3 is the truck "6-1" on the left, containers are valued from LEFT to RIGHT */
.ffg_container[data_truck='truck3']{
    top: 162px;
}
.ffg_container[data_id='truck3_0']{
    left: 38px;
}
.ffg_container[data_id='truck3_1']{
    left: 85px;
}
.ffg_container[data_id='truck3_2']{
    left: 132px;
}
.ffg_container[data_id='truck3_3']{
    left: 179px;
}
.ffg_container[data_id='truck3_4']{
    left: 226px;
}
.ffg_container[data_id='truck3_5']{
    left: 273px;
}
/* ---------------------------- ----------------------------   ---------------------------- */
/** truck4 is the truck "1-6" on the left, containers are valued from LEFT to RIGHT */
.ffg_container[data_truck='truck4']{
    top: 368px;
}
.ffg_container[data_id='truck4_0']{
    left: 38px;
}
.ffg_container[data_id='truck4_1']{
    left: 85px;
}
.ffg_container[data_id='truck4_2']{
    left: 132px;
}
.ffg_container[data_id='truck4_3']{
    left: 179px;
}
.ffg_container[data_id='truck4_4']{
    left: 226px;
}
.ffg_container[data_id='truck4_5']{
    left: 273px;
}
/* ---------------------------- ----------------------------   ---------------------------- */
/** truck5 is the truck "#" on the left, containers are valued from LEFT to RIGHT */
.ffg_container[data_truck='truck5']{
    top: 583px;
}
.ffg_container[data_id='truck5_0']{
    left: 38px;
}
.ffg_container[data_id='truck5_1']{
    left: 85px;
}
.ffg_container[data_id='truck5_2']{
    left: 132px;
}
.ffg_container[data_id='truck5_3']{
    left: 179px;
}
.ffg_container[data_id='truck5_4']{
    left: 226px;
}
.ffg_container[data_id='truck5_5']{
    left: 273px;
}
/* ---------------------------- ----------------------------   ---------------------------- */
/** truck6 is the truck "#" HEARTs on the bottom, containers are valued from LEFT to RIGHT */
.ffg_container[data_truck='truck6']{
    top: 798px;
}
.ffg_container[data_id='truck6_0']{
    left: 330px;
}
.ffg_container[data_id='truck6_1']{
    left: 377px;
}
.ffg_container[data_id='truck6_2']{
    left: 425px;
}
.ffg_container[data_id='truck6_3']{
    left: 472px;
}

/* ---------------------------- ----------------------------   ---------------------------- */
/** truck7 is the truck "#" CLUBS on the bottom, containers are valued from LEFT to RIGHT */
.ffg_container[data_truck='truck7']{
    top: 914px;
}
.ffg_container[data_id='truck7_0']{
    left: 558px;
}
.ffg_container[data_id='truck7_1']{
    left: 605px;
}
.ffg_container[data_id='truck7_2']{
    left: 652px;
}
.ffg_container[data_id='truck7_3']{
    left: 699px;
}

/* ---------------------------- ----------------------------   ---------------------------- */
/** truck8 is the truck "#" DIAMOND on the bottom, containers are valued from LEFT to RIGHT */
.ffg_container[data_truck='truck8']{
    top: 888px;
}
.ffg_container[data_id='truck8_0']{
    left: 835px;
}
.ffg_container[data_id='truck8_1']{
    left: 882px;
}
.ffg_container[data_id='truck8_2']{
    left: 929px;
}
.ffg_container[data_id='truck8_3']{
    left: 976px;
}
/* ---------------------------- ----------------------------   ---------------------------- */
/** truck9 is the truck "#" SPADE on the bottom, containers are valued from LEFT to RIGHT */
.ffg_container[data_truck='truck9']{
    top: 914px;
}
.ffg_container[data_id='truck9_0']{
    left: 1116px;
}
.ffg_container[data_id='truck9_1']{
    left: 1163px;
}
.ffg_container[data_id='truck9_2']{
    left: 1210px;
}
.ffg_container[data_id='truck9_3']{
    left: 1257px;
}
/* ---------------------------- ----------------------------   ---------------------------- */


.ffg_container_number{
    align-items: center;
    display: flex;
    font-size: var(--ffg_container_width);
    font-weight: bold;
    justify-content: center;
    line-height: var(--ffg_container_width);
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px black;
}

.ffg_cargo_amount .ffg_container_number{
    font-style: italic;
    font-weight: initial;
}

.ffg_container[data_amount="10"] .ffg_container_number,
.ffg_container[data_amount="11"] .ffg_container_number{
    /** Only with overtime modifiers*/
    font-size: calc(var(--ffg_container_width) * 0.9);
}
.ffg_truck_pos{
    width: var(--ffg_truck_position_small_size);
    height: var(--ffg_truck_position_small_size);
    position: absolute;
    z-index: 1;
    border-radius: 100%;
}
.ffg_confirmed_pos{
    background-color: black;
    outline: 2px solid yellow;
}
.ffg_not_confirmed_pos{
    background-color: black;
    outline: 5px dashed red;
}
.ffg_not_drawn_pos.ffg_selectable{
    /* Don't hide it because we want to be able to draw it later for selection
    visibility: hidden;
    */
    background-color: transparent;
    outline: 5px solid blue;
    cursor: pointer;
}
.ffg_not_drawn_pos.ffg_selectable:hover {
  scale: 1.1;
  outline-style: solid;
  outline-color: yellow;
  z-index: 2;
}

/* 
---------------------------- ----------------------------   ---------------------------- 
---------------------------- LIST OF ALL 61 Truck positions ---------------------------- 
---------------------------- ----------------------------   ---------------------------- 
*/
.ffg_truck[data_id='truck1']>.ffg_truck_pos[data_position="1"]{
    left: 871px;
    top: 262px;
}
.ffg_truck[data_id='truck1']>.ffg_truck_pos[data_position="2"]{
    width: calc(0.5 * var(--ffg_truck_position_medium_size) );
    height: var(--ffg_truck_position_medium_size);
    left: 877px;
    top: 327px;
    border-bottom-right-radius: var(--ffg_truck_position_medium_size);
    border-top-right-radius: var(--ffg_truck_position_medium_size);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: rotate(7deg);
}
.ffg_truck[data_id='truck1']>.ffg_truck_pos[data_position="3"]{
    width: calc(0.5 * var(--ffg_truck_position_medium_size) );
    height: var(--ffg_truck_position_medium_size);
    left: 876px;
    top: 443px;
    border-bottom-right-radius: var(--ffg_truck_position_medium_size);
    border-top-right-radius: var(--ffg_truck_position_medium_size);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: rotate(10deg);
}
.ffg_truck[data_id='truck1']>.ffg_truck_pos[data_position="4"]{
    left: 837px;
    top: 522px;
}
.ffg_truck[data_id='truck1']>.ffg_truck_pos[data_position="5"]{
    left: 834px;
    top: 597px;
}
/* ---------------------------- ----------------------------   ---------------------------- */
.ffg_truck[data_id='truck2']>.ffg_truck_pos[data_position="1"]{
    left: 507px;
    top: 194px;
}
.ffg_truck[data_id='truck2']>.ffg_truck_pos[data_position="2"]{
    width: calc(0.5 * var(--ffg_truck_position_medium_size) );
    height: var(--ffg_truck_position_medium_size);
    left: 509px;
    top: 267px;
    border-bottom-right-radius: var(--ffg_truck_position_medium_size);
    border-top-right-radius: var(--ffg_truck_position_medium_size);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: rotate(17deg);
}
.ffg_truck[data_id='truck2']>.ffg_truck_pos[data_position="3"]{
    left: 476px;
    top: 358px;
}
.ffg_truck[data_id='truck2']>.ffg_truck_pos[data_position="4"]{
    width: calc(0.5 * var(--ffg_truck_position_medium_size) );
    height: var(--ffg_truck_position_medium_size);
    left: 490px;
    top: 433px;
    border-bottom-right-radius: var(--ffg_truck_position_medium_size);
    border-top-right-radius: var(--ffg_truck_position_medium_size);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.ffg_truck[data_id='truck2']>.ffg_truck_pos[data_position="5"]{
    left: 452px;
    top: 512px;
}
/* ---------------------------- ----------------------------   ---------------------------- */
.ffg_truck[data_id='truck3']>.ffg_truck_pos[data_position="1"]{
    left: 437px;
    top: 222px;
}
.ffg_truck[data_id='truck3']>.ffg_truck_pos[data_position="2"]{
    width: calc(0.5 * var(--ffg_truck_position_medium_size) );
    height: var(--ffg_truck_position_medium_size);
    left: 482px;
    top: 260px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: var(--ffg_truck_position_medium_size);
    border-bottom-left-radius: var(--ffg_truck_position_medium_size);
    transform: rotate(17deg);
}
.ffg_truck[data_id='truck3']>.ffg_truck_pos[data_position="3"]{
    left: 579px;
    top: 286px;
}
.ffg_truck[data_id='truck3']>.ffg_truck_pos[data_position="4"]{
    left: 691px;
    top: 274px;
}
.ffg_truck[data_id='truck3']>.ffg_truck_pos[data_position="5"]{
    left: 791px;
    top: 280px;
}
.ffg_truck[data_id='truck3']>.ffg_truck_pos[data_position="6"]{
    width: calc(0.5 * var(--ffg_truck_position_medium_size) );
    height: var(--ffg_truck_position_medium_size);
    left: 850px;
    top: 324px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: var(--ffg_truck_position_medium_size);
    border-bottom-left-radius: var(--ffg_truck_position_medium_size);
    transform: rotate(7deg);
}
.ffg_truck[data_id='truck3']>.ffg_truck_pos[data_position="7"]{
    left: 950px;
    top: 394px;
}
/* ---------------------------- ----------------------------   ---------------------------- */
.ffg_truck[data_id='truck4']>.ffg_truck_pos[data_position="1"]{
    width: calc(0.5 * var(--ffg_truck_position_medium_size) );
    height: var(--ffg_truck_position_medium_size);
    left: 464px;
    top: 433px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: var(--ffg_truck_position_medium_size);
    border-bottom-left-radius: var(--ffg_truck_position_medium_size);
}
.ffg_truck[data_id='truck4']>.ffg_truck_pos[data_position="2"]{
    width: calc(0.5 * var(--ffg_truck_position_medium_size) );
    height: var(--ffg_truck_position_medium_size);
    left: 555px;
    top: 427px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: var(--ffg_truck_position_medium_size);
    border-bottom-left-radius: var(--ffg_truck_position_medium_size);
    transform: rotate(7deg);
}
.ffg_truck[data_id='truck4']>.ffg_truck_pos[data_position="3"]{
    left: 735px;
    top: 477px;
}
.ffg_truck[data_id='truck4']>.ffg_truck_pos[data_position="4"]{
    width: calc(0.5 * var(--ffg_truck_position_medium_size) );
    height: var(--ffg_truck_position_medium_size);
    left: 852px;
    top: 440px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: var(--ffg_truck_position_medium_size);
    border-bottom-left-radius: var(--ffg_truck_position_medium_size);
    transform: rotate(10deg);
}
.ffg_truck[data_id='truck4']>.ffg_truck_pos[data_position="5"]{
    left: 948px;
    top: 452px;
}
.ffg_truck[data_id='truck4']>.ffg_truck_pos[data_position="6"]{
    left: 1039px;
    top: 464px;
}
.ffg_truck[data_id='truck4']>.ffg_truck_pos[data_position="7"]{
    left: 1149px;
    top: 432px;
}
/* ---------------------------- ----------------------------   ---------------------------- */
.ffg_truck[data_id='truck5']>.ffg_truck_pos[data_position="1"]{
    width: calc(0.5 * var(--ffg_truck_position_medium_size) );
    height: var(--ffg_truck_position_medium_size);
    left: 510px;
    top: 628px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: var(--ffg_truck_position_medium_size);
    border-bottom-left-radius: var(--ffg_truck_position_medium_size);
    transform: rotate(1deg);
}
.ffg_truck[data_id='truck5']>.ffg_truck_pos[data_position="2"]{
    left: 647px;
    top: 658px;
}
.ffg_truck[data_id='truck5']>.ffg_truck_pos[data_position="3"]{
    width: calc(0.5 * var(--ffg_truck_position_medium_size) );
    height: var(--ffg_truck_position_medium_size);
    left: 761px;
    top: 644px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: var(--ffg_truck_position_medium_size);
    border-bottom-left-radius: var(--ffg_truck_position_medium_size);
    transform: rotate(-3deg);
}
.ffg_truck[data_id='truck5']>.ffg_truck_pos[data_position="4"]{
    left: 911px;
    top: 664px;
}
.ffg_truck[data_id='truck5']>.ffg_truck_pos[data_position="5"]{
    left: 1048px;
    top: 517px;
}
/* ---------------------------- ----------------------------   ---------------------------- */
.ffg_truck[data_id='truck6']>.ffg_truck_pos[data_position="1"]{
    left: 472px;
    top: 739px;
}
.ffg_truck[data_id='truck6']>.ffg_truck_pos[data_position="2"]{
    left: 531px;
    top: 743px;
}
.ffg_truck[data_id='truck6']>.ffg_truck_pos[data_position="3"]{
    left: 523px;
    top: 689px;
}
.ffg_truck[data_id='truck6']>.ffg_truck_pos[data_position="4"]{
    width: calc(0.5 * var(--ffg_truck_position_medium_size) );
    height: var(--ffg_truck_position_medium_size);
    left: 537px;
    top: 628px;
    border-bottom-right-radius: var(--ffg_truck_position_medium_size);
    border-top-right-radius: var(--ffg_truck_position_medium_size);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: rotate(1deg);
}
.ffg_truck[data_id='truck6']>.ffg_truck_pos[data_position="5"]{
    left: 548px;
    top: 570px;
}
.ffg_truck[data_id='truck6']>.ffg_truck_pos[data_position="6"]{
    left: 544px;
    top: 507px;
}
.ffg_truck[data_id='truck6']>.ffg_truck_pos[data_position="7"]{
    width: calc(0.5 * var(--ffg_truck_position_medium_size) );
    height: var(--ffg_truck_position_medium_size);
    left: 579px;
    top: 429px;
    border-bottom-right-radius: var(--ffg_truck_position_medium_size);
    border-top-right-radius: var(--ffg_truck_position_medium_size);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: rotate(7deg);
}
.ffg_truck[data_id='truck6']>.ffg_truck_pos[data_position="8"]{
    left: 591px;
    top: 368px;
}
/* ---------------------------- ----------------------------   ---------------------------- */
.ffg_truck[data_id='truck7']>.ffg_truck_pos[data_position="1"]{
    left: 741px;
    top: 853px;
}
.ffg_truck[data_id='truck7']>.ffg_truck_pos[data_position="2"]{
    left: 808px;
    top: 839px;
}
.ffg_truck[data_id='truck7']>.ffg_truck_pos[data_position="3"]{
    left: 793px;
    top: 778px;
}
.ffg_truck[data_id='truck7']>.ffg_truck_pos[data_position="4"]{
    left: 719px;
    top: 758px;
}
.ffg_truck[data_id='truck7']>.ffg_truck_pos[data_position="5"]{
    left: 775px;
    top: 715px;
}
.ffg_truck[data_id='truck7']>.ffg_truck_pos[data_position="6"]{
    width: calc(0.5 * var(--ffg_truck_position_medium_size) );
    height: var(--ffg_truck_position_medium_size);
    left: 786px;
    top: 644px;
    border-bottom-right-radius: var(--ffg_truck_position_medium_size);
    border-top-right-radius: var(--ffg_truck_position_medium_size);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: rotate(-3deg);
}
.ffg_truck[data_id='truck7']>.ffg_truck_pos[data_position="7"]{
    left: 772px;
    top: 586px;
}
.ffg_truck[data_id='truck7']>.ffg_truck_pos[data_position="8"]{
    left: 728px;
    top: 541px;
}

/* ---------------------------- ----------------------------   ---------------------------- */
.ffg_truck[data_id='truck8']>.ffg_truck_pos[data_position="1"]{
    left: 926px;
    top: 837px;
}
.ffg_truck[data_id='truck8']>.ffg_truck_pos[data_position="2"]{
    left: 879px;
    top: 794px;
}
.ffg_truck[data_id='truck8']>.ffg_truck_pos[data_position="3"]{
    left: 927px;
    top: 759px;
}
.ffg_truck[data_id='truck8']>.ffg_truck_pos[data_position="4"]{
    left: 992px;
    top: 729px;
}
.ffg_truck[data_id='truck8']>.ffg_truck_pos[data_position="5"]{
    left: 1059px;
    top: 697px;
}
.ffg_truck[data_id='truck8']>.ffg_truck_pos[data_position="6"]{
    left: 1062px;
    top: 633px;
}
.ffg_truck[data_id='truck8']>.ffg_truck_pos[data_position="7"]{
    left: 1102px;
    top: 602px;
}
.ffg_truck[data_id='truck8']>.ffg_truck_pos[data_position="8"]{
    left: 1126px;
    top: 558px;
}
/* ---------------------------- ----------------------------   ---------------------------- */
.ffg_truck[data_id='truck9']>.ffg_truck_pos[data_position="1"]{
    left: 1165px;
    top: 862px;
}
.ffg_truck[data_id='truck9']>.ffg_truck_pos[data_position="2"]{
    left: 1126px;
    top: 821px;
}
.ffg_truck[data_id='truck9']>.ffg_truck_pos[data_position="3"]{
    left: 1102px;
    top: 774px;
}
.ffg_truck[data_id='truck9']>.ffg_truck_pos[data_position="4"]{
    left: 1100px;
    top: 717px;
}
.ffg_truck[data_id='truck9']>.ffg_truck_pos[data_position="5"]{
    left: 1145px;
    top: 673px;
}
.ffg_truck[data_id='truck9']>.ffg_truck_pos[data_position="6"]{
    left: 1189px;
    top: 638px;
}
.ffg_truck[data_id='truck9']>.ffg_truck_pos[data_position="7"]{
    left: 1210px;
    top: 584px;
}
.ffg_truck[data_id='truck9']>.ffg_truck_pos[data_position="8"]{
    left: 1205px;
    top: 517px;
}
/* ---------------------------- ----------------------------   ---------------------------- */
/* List of spaces to display trucks score on end of each line : they are listed by color order, not the same order of trucks around the board... */
.ffg_truck_score{
    width: 55px;
    height: 55px;
    position: absolute;
    z-index: 1;
}
.ffg_truck[data_id='truck1']>.ffg_truck_score{
    top: 585px; 
    left: 889px;
} 
.ffg_truck[data_id='truck2']>.ffg_truck_score{
    top: 498px; 
    left: 371px;
} 
.ffg_truck[data_id='truck3']>.ffg_truck_score{
    top: 381px; 
    left: 1004px;
    width: 83px;
} 
.ffg_truck[data_id='truck4']>.ffg_truck_score{
    top: 355px; 
    left: 1122px;
    width: 83px;
} 
.ffg_truck[data_id='truck1']>.ffg_truck_score>.ffg_score_number,
.ffg_truck[data_id='truck2']>.ffg_truck_score>.ffg_score_number,
.ffg_truck[data_id='truck3']>.ffg_truck_score>.ffg_score_number,
.ffg_truck[data_id='truck4']>.ffg_truck_score>.ffg_score_number{
    /* 1/2 opaque back when score is written */
    background-color: rgba(255,255,255, 0.5);
} 
.ffg_truck[data_id='truck5']>.ffg_truck_score{
    top: 505px; 
    left: 972px;
} 
.ffg_truck[data_id='truck6']>.ffg_truck_score{
    top: 355px; 
    left: 642px;
} 
.ffg_truck[data_id='truck7']>.ffg_truck_score{
    top: 530px; 
    left: 655px;
} 
.ffg_truck[data_id='truck8']>.ffg_truck_score{
    top: 485px; 
    left: 1114px;
} 
.ffg_truck[data_id='truck9']>.ffg_truck_score{
    top: 444px; 
    left: 1193px;
} 

.ffg_hidden,
.ffg_truck[data_score='0'] .ffg_score_number
{
    visibility: hidden;
}
.ffg_week_score>.ffg_score_number,
.ffg_total_score>.ffg_score_number,
.ffg_truck_score>.ffg_score_number,
.ffg_truck_score_right>.ffg_score_number{
    align-items: center;
    display: flex;
    font-size: 27px;
    font-weight: bold;
    justify-content: center;
    line-height: 56px;
    text-align: center;
    color: black;
}
/* List of spaces to display trucks score on right of the board : they are listed by color order, not the same order of trucks around the board... */
.ffg_truck_score_right{
    width: 55px;
    height: 27px;
    position: absolute;
    z-index: 1;
    left: 1319px;
}
.ffg_truck[data_id='truck2']>.ffg_truck_score_right{
    top: 461px; 
}
.ffg_truck[data_id='truck1']>.ffg_truck_score_right{
    top: 505px; 
}
.ffg_truck[data_id='truck3']>.ffg_truck_score_right{
    top: 550px; 
}
.ffg_truck[data_id='truck4']>.ffg_truck_score_right{
    top: 596px; 
}
.ffg_truck[data_id='truck5']>.ffg_truck_score_right{
    top: 640px; 
}
.ffg_truck[data_id='truck6']>.ffg_truck_score_right{
    top: 684px; 
}
.ffg_truck[data_id='truck7']>.ffg_truck_score_right{
    top: 730px; 
}
.ffg_truck[data_id='truck8']>.ffg_truck_score_right{
    top: 774px; 
}
.ffg_truck[data_id='truck9']>.ffg_truck_score_right{
    top: 819px;
}

.ffg_truck_score_right>.ffg_score_number{
    line-height: 27px;
}

.ffg_week_score{
    width: 144px;
    height: 45px;
    position: absolute;
    z-index: 1;
    left: 108px;
}
.ffg_week_score>.ffg_score_number{
    line-height: 45px;
}
.ffg_week_score[data_round="1"]{
    top: 706px; 
}
.ffg_week_score[data_round="2"]{
    top: 789px; 
}
.ffg_week_score[data_round="3"]{
    top: 872px; 
}

.ffg_total_score{
    width: 183px;
    height: 45px;
    position: absolute;
    z-index: 1;
    left: 114px;
    top: 993px;
}
.ffg_total_score>.ffg_score_number{
    line-height: 45px;
    font-size: 56px;
    justify-content: right;
    font-style: italic;
    color: #6b2912;
}
.ffg_total_score:hover{
    cursor: help;
}
/* ---------------------------- ----------------------------   ---------------------------- */
/* List of symbols near trucks... */
/* ---------------------------- ----------------------------   ---------------------------- */
.ffg_truck_symbol,
.ffg_symbol_path_size{
    position: absolute;
}
.ffg_truck_symbol:hover,
.ffg_symbol_path_size:hover{
    outline: 2px solid green;
    border-radius: 15%;
    cursor: help;
}
.ffg_truck[data_id='truck1'] .ffg_truck_symbol{
    left: 908px;
    top: 100px;
    width: 35px;
    height: 43px;
}
.ffg_truck[data_id='truck2'] .ffg_truck_symbol{
    left: 565px;
    top: 66px;
    width: 35px;
    height: 34px;
}
.ffg_truck[data_id='truck3'] .ffg_truck_symbol{
    left: 143px;
    top: 98px;
    width: 113px;
    height: 53px;
}
.ffg_truck[data_id='truck4'] .ffg_truck_symbol{
    left: 143px;
    top: 303px;
    width: 113px;
    height: 53px;
}
.ffg_truck[data_id='truck5'] .ffg_truck_symbol{
    left: 167px;
    top: 522px;
}
.ffg_truck[data_id='truck6'] .ffg_truck_symbol{
    left: 423px;
    top: 863px;
}
.ffg_truck[data_id='truck7'] .ffg_truck_symbol{
    left: 650px;
    top: 978px;
}
.ffg_truck[data_id='truck8'] .ffg_truck_symbol{
    left: 927px;
    top: 953px;
}
.ffg_truck[data_id='truck9'] .ffg_truck_symbol{
    left: 1207px;
    top: 978px;
}
.ffg_truck[data_id='truck5'] .ffg_truck_symbol,
.ffg_truck[data_id='truck6'] .ffg_truck_symbol,
.ffg_truck[data_id='truck7'] .ffg_truck_symbol,
.ffg_truck[data_id='truck8'] .ffg_truck_symbol,
.ffg_truck[data_id='truck9'] .ffg_truck_symbol{
    width: 64px;
    height: 48px;
}

.ffg_symbol_path_size{
    width: 50px;
    height: 28px;
}
.ffg_truck[data_id='truck1'] .ffg_symbol_path_size{
    left: 888px;
    top: 224px;
}
.ffg_truck[data_id='truck2'] .ffg_symbol_path_size{
    left: 547px;
    top: 187px;
}
.ffg_truck[data_id='truck3'] .ffg_symbol_path_size{
    left: 316px;
    top: 236px
}
.ffg_truck[data_id='truck4'] .ffg_symbol_path_size{
    left: 316px;
    top: 441px;
}
.ffg_truck[data_id='truck5'] .ffg_symbol_path_size{
    left: 316px;
    top: 655px;
}
.ffg_truck[data_id='truck6'] .ffg_symbol_path_size{
    left: 361px;
    top: 755px;
    width: 92px;
}
.ffg_truck[data_id='truck7'] .ffg_symbol_path_size{
    left: 586px;
    top: 870px;
    width: 92px;
}
.ffg_truck[data_id='truck8'] .ffg_symbol_path_size{
    left: 962px;
    top: 847px;
    width: 92px;
}
.ffg_truck[data_id='truck9'] .ffg_symbol_path_size{
    left: 1226px;
    top: 871px;
    width: 92px;
}

/* ---------------------------- ----------------------------   ---------------------------- */
/* ---------------------------- OVERTIME Hours TOKENS          ---------------------------- */
/* ---------------------------- ----------------------------   ---------------------------- */

.ffg_overtime{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 940px;
    cursor: pointer;
    border-radius: 100%;
}
.ffg_overtime.ffg_selectable{
    cursor: pointer;
    outline: 3px solid blue;
}
.ffg_overtime:not(.ffg_selectable){
    cursor: initial;
}
.ffg_overtime.ffg_selectable .ffg_icon_overtime_used,
.ffg_overtime.ffg_selectable_for_others .ffg_icon_overtime_used,
.ffg_overtime:not(.ffg_positive_value) .ffg_icon_overtime_plus,
.ffg_overtime:not(.ffg_negative_value) .ffg_icon_overtime_minus{
    display: none;
}
.ffg_icon_overtime_used,
.ffg_icon_overtime_plus,
.ffg_icon_overtime_minus{
    color: red;
    position: relative;
    left: -5px;
    top: -10px;
}
.ffg_icon_overtime_plus{
    color: green;
}
.ffg_icon_overtime_minus{
    color: red;
}
.ffg_overtime.ffg_selectable:hover{
    /*outline: 3px solid green;*/
    background-image: url('img/board.jpg');
    background-size: calc(var(--ffg_board_display_width) / var(--ffg_board_display_img_width) );
    background-position-y: -1415px;
    background-position-x: -379px;
    width: 50px;
    height: 50px;
    top: 932px;
    z-index: 2;
} 
.ffg_overtime.ffg_positive_value{
    outline: 3px solid green;
}
.ffg_overtime.ffg_negative_value{
    outline: 3px solid red;
}
.ffg_overtime[data_index='1']{
    left: 253px;
}
.ffg_overtime[data_index='1'].ffg_selectable:hover{
    left: 245px; /* IMITATION of scale:2 ,  with the background-image : left = left - (50-30)/2 */
}
.ffg_overtime[data_index='2']{
    left: 288px;
}
.ffg_overtime[data_index='2'].ffg_selectable:hover{
    left: 278px;
}
.ffg_overtime[data_index='3']{
    left: 324px;
}
.ffg_overtime[data_index='3'].ffg_selectable:hover{
    left: 314px;
}
.ffg_overtime[data_index='4']{
    left: 360px;
}
.ffg_overtime[data_index='4'].ffg_selectable:hover{
    left: 350px;
}
.ffg_overtime[data_index='5']{
    left: 396px;
}
.ffg_overtime[data_index='5'].ffg_selectable:hover{
    left: 386px;
}

.ffg_cardModifier{
    font-size: 80px;
    font-style: italic;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: var(--ffg_card_display_height);
    text-align: center;
    color: blue;
    text-shadow: 1px 1px 20px gold;
    cursor: inherit;
}
.ffg_cardModifier.ffg_empty_value, .ffg_cardModifier[data_value="0"]{
    visibility: hidden;
}
.ffg_cardModifier.ffg_positive_value{
    color: green;
}
.ffg_cardModifier.ffg_negative_value{
    color: red;
}

/* ---------------------------- ----------------------------   ---------------------------- */

/** In this game, only one multipleChoice_dialog is used with YES/NO */
.multiplechoice_btn#choice_btn_0 {
    /*bgabutton_green*/
    background: #89a538;
    border-color: #697f2b;
}
.multiplechoice_btn#choice_btn_1 {
    /*bgabutton_red*/
    background: #c92727;
    border-color: #b20a0a;;
}